.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #3194a1;
  opacity: 1;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #75d1e7;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #75d1e7;
  width: 40px;
  border-radius: 10px;
}