@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #088B8C;
}

.linearBg {
  background: linear-gradient(to right, #e0f7fa, #42b0e0);
}

.leaflet-container {
  background: transparent !important;
}