@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.linearBg {
  background: linear-gradient(to right, #e0f7fa, #42b0e0);
}
